article {
	padding: 18pt 0;
}
	.post_title {
		margin-top: 0;
	}
#secondary {
	margin-top: 18pt;
}

/*
 * Make sure IFRAMEs don't get too big
 */
p > iframe {
	display: block;
	margin: 0 auto;
}

.wp-caption {
  background: #eee;
  margin: 1em 1.5em;
  padding: 1em 1.5em;
}
  .wp-caption a img {
    width: 100%;
  }

@media only screen and (min-width:640px) {
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
}

@media (max-width: 969px) { p > iframe { max-width: 600px; max-height: 450px; } }
@media (max-width: 749px) { p > iframe { max-width: 400px; max-height: 300px; } }
@media (max-width: 450px) { p > iframe { max-width: 300px; max-height: 200px; } }


