.link-section .link-section_link {
  max-width: 320px;
  margin: 0 auto;
  display: block;
}
.link-section .link-section_link .link-section_header {
  height: 160px;
  position: relative;
  padding: 0;
}
.link-section .link-section_link .link-section_header a {
  color: #ddd;
  text-shadow: 0 0 2px #000;
}
.link-section .link-section_link .link-section_header .link-section_name {
  background: rgba(0, 0, 0, 0.5);
  transition: 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 4pt;
  margin: 0;
}
.link-section .link-section_link .link-section_header .link-section_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 160px;
  display: block;
}
.link-section .link-section_link:hover a {
  color: #fff;
}
.link-section .link-section_link:hover .link-section_name {
  background: #000000;
  transition: 400ms;
}
.link-section .link-section_link .link-section_link-description {
  color: #777777;
  padding-top: 8.5pt;
  min-height: 10em;
}
.link-section .link-section_link .link-section_learn-more {
  text-align: center;
}
