.resume_section .resume_section_title {
  font-size: 200%;
  padding: 10pt 0;
  margin: 18pt 0;
}
.resume_section .resume_section_dates {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  margin-top: 0;
  color: #777777;
}
.resume_section .resume_section_dates small,
.resume_section .resume_section_dates .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
.resume_section .resume_section_dates small,
.resume_section .resume_section_dates .small {
  font-size: 65%;
}
@media min-width (min-width: 300px) {
  .resume_section .resume_section_dates {
    text-align: right;
  }
}
.resume_section .resume_section_header {
  margin-top: 0;
}
.resume_section .resume_section_subhead {
  margin-top: 0;
  color: #777777;
}
.resume_section--last {
  border: none;
  padding-bottom: 36pt;
}
.resume_section_intro {
  padding: 18pt 0 0 0;
}
.resume_section_xp {
  margin-bottom: -36pt;
}
.resume_section_xp .row {
  margin-bottom: 18pt;
}
.resume_section_contact div {
  text-align: center;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.resume_section_contact address {
  margin: 0;
}
.resume_section_list {
  margin: 0;
  padding: 0 0 0 12pt;
}
.resume_section_list .resume_section_list-item {
  padding-left: 0;
  list-style: none;
  text-indent: -12pt;
  margin: 4pt 0;
}
.resume_section_list .resume_section_list-item:before {
  color: #31708f;
  content: '\f0da';
  display: inline-block;
  font-family: FontAwesome;
  left: -12pt;
  position: relative;
  text-indent: 12pt;
  width: 12pt;
}
